/* CSS reset */
* {
    padding: 0;
    margin: 0;
}

:root {
    --grey: #DAD7CD;
    --lightgrey: #EFEFEF;
    --darkgrey: #404040;
    --darkgreen: #3A5A40;
    --pastelgreen: #A3B18A;
    --lightgreen: #588157;
    --font: "Rubik", sans-serif;
}

button {
    cursor: pointer;
    font-family: var(--font);
}

body {
    background-color: var(--lightgrey);
    display: grid;
    grid-template-columns: 1fr 5.1fr;
}

header {
    grid-column: 2/3;
    background-color: var(--darkgreen);
    padding: 1.2rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: sticky;
    top: 0;
}

header button {
    background-color: var(--grey);
    padding: 0.7rem 1.5rem;
    font-size: 1rem;
    border-radius: 10px;
}

header button:hover {
    background-color: var(--pastelgreen);
}

nav {
    display: grid;
    grid-template-rows: 1.5fr 1fr 1fr;
    grid-column-start: 0;
    background-color: var(--grey);
    height: 100vh;
    position: sticky;
    left: 0;
    bottom: 0;
    top: 0;
}

nav div.me {
    grid-row: 1/2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    padding-bottom: 2.5rem;
    gap: 1.5rem;
}

nav div.sections {
    grid-row: 2/3;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

nav div.socials {
    grid-row: 3/4;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 5rem;
}

nav img {
    max-height: 11.5rem;
    max-width: 11.5rem;
    border: 4px dashed var(--darkgreen);
    border-radius: 50%;
}

nav h2 {
    font-size: 1.8rem;
    font-family: var(--font);
    color: var(--darkgrey);
    text-align: center;
}

nav div.sections span {
    font-size: 1.5rem;
    font-family: var(--font);
    color: var(--darkgrey);
    cursor: pointer;
}

nav div.socials {
    display: flex;
    font-size: 2rem;
    color: var(--darkgrey);
    gap: 1rem;
}

nav div.socials i {
    cursor: pointer;
}

div.main-box h1 {
    font-family: var(--font);
    color: var(--darkgrey);
    text-align: center;
    font-size: 3rem;
}

#about {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#about .main-text {
    text-align: center;
    font-size: 8rem;
    font-family: var(--font);
}

#about .sub-text {
    text-align: center;
    font-size: 2rem;
    font-family: var(--font);
    font-weight: 300;
    color: var(--darkgrey);
    max-width: 70%;
}

#about .skill-section {
    padding-top: 2rem;
    display: flex;
    gap: 0.6rem;
}

#about .skills {
    font-size: 1.2rem;
    font-family: var(--font);
    color: var(--darkgrey);
    border: 1px solid var(--darkgrey);
    border-radius: 25px;
    padding: 0.5rem 1rem;
    cursor: pointer;
}

#about .skills i.devicon-javascript-plain, 
#about .skills i.devicon-html5-plain,
#about .skills i.devicon-css3-plain, 
#about .skills i.devicon-python-plain, 
#about .skills i.devicon-java-plain,
#about .skills i.devicon-c-plain, 
#about .skills i.devicon-cplusplus-plain {
    font-size: 1.09rem;
}

#about .skills:hover {
    background-color: var(--lightgreen);
    color: var(--lightgrey);
}

#projects, #experience, #education {
    display: flex;
    padding: 0 6rem;
    gap: 1rem;
}

.unit {
    margin: 2rem 0rem 4rem 0rem;
    border: 2px solid var(--darkgrey);
    border-radius: 10px;
    padding: 0.6rem 1.2rem;
    background-color: var(--pastelgreen);
    color: var(--darkgrey);
    font-family: var(--font);
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

#projects .desc {
    /* text-align: justify; */
}